

<h1 style="color:blue;text-align:center;background-color:azure;" >Job Details</h1>


<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    
    <!-- <h5 style="color:blue;text-align:center;background-color:aqua;" class="card-title">Job applied for Bangalore are {{g1}}</h5> -->
    <h3 align="center">All Jobs</h3>
    {% for obj in h1 %}
      <ul>
        <li>
          <p> Job Role <strong> {{obj.Jobrole}}</strong></p>
          <p> Qualification <strong> {{obj.Qualification}}</strong></p>
          <p> Specialisation <strong> {{obj.Specialisation}}</strong></p>
          <p> Salary <strong> {{obj.Salary}}</strong></p>
        </li>
      </ul>
    {% endfor %}
     </div>
</div>

